<html>
  <head>
    <meta charset="utf-8">
    <title>Index.ejs</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>
  <body>
    <h1>Hello ToDo List MVC Google-Auth</h1>
    
    <button id="login_button">
      <a href="/auth/google">
        Login with Google <i class="fab fa-google" ></i>
      </a>
    </button>
    
    
<!--
    <a href="/todos">Open Todos</a>
-->
    
  </body>
</html>
